.popup__close-button{
    transform: rotate(45deg);
    position: absolute;
    border: none;
    background-color: rgba(0,0,0,0);
    opacity: 1;
    right: -35px;
    top: -40px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}

